/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  h1, h2 {
    color: #00698f;
    font-weight: bold;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 20px;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li:before {
    color: #00698f;
    content: "\2022";
    font-size: 18px;
    margin-right: 10px;
  }
  
  /* HEADER STYLES */
  
  header {
    background-color: #006321;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-shadow:2px 2px 5px #333 ;
  }
  
  header h1 {
    color: #fff;
  }
  
  /* MAIN STYLES */
 
  main {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
  }
     
  section {
    flex-flow: row nowrap;
    margin-bottom: 20px;
  }
   
  .image-column {
    align-items: center;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .image-column img {
    height: auto;
    margin: 20px 0;
    width: 500px;
  }

  .text-column {
    align-items: flex-start;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
  }
  
  .text-column h2 {
    margin-top: 0;
  }
  
  .text-column ul, .text-column ol {
    margin-bottom: 20px;
  }
  
  /* FOOTER STYLES */
  
  footer {
    background-color: #aa0000;
    clear: both;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-shadow:2px 2px 5px #333 ;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }